body {
    background-color: rgba(44, 32, 32, 0.678);
}

.figure {
    border-radius: 15px;
    overflow: hidden;
}

.cover_img {

    width: 150px;
}

.div {
    border-radius: 20px;
    background-color: #69150ec7;
    color: whitesmoke;
    padding: 10px;
    flex-wrap: nowrap;
}