body {
    background-color: rgba(161, 28, 28, 0.897);
}

.figure {
    border-radius: 15px;
    overflow: hidden;
}

.cover_img {

    width: 150px;
}

.div {
    background-color: bisque;
    padding: 10px;
    flex-wrap: nowrap;
}