* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    max-width: calc(100% / 3 - 20px);
    flex: 1 0 calc(100%/3 -20px);
}

section {
    background-color: rgba(161, 28, 28, 0.897);
    padding: 50px 0;
}

.btn {
    text-wrap: nowrap;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn:active {
    background-color: #003f7f;
    transform: scale(0.95);
}

.row-review {
    justify-content: space-between;
    align-items: baseline;
}

.hr {
    margin: 10px 0;
}

.star_gap {
    gap: 5px;
}